apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- clusterrole.yaml
- clusterrolebinding.yaml
- deployment.yaml
- service.yaml
- serviceaccount.yaml
- servicemonitor.yaml

commonLabels:
  component: kube-state-metrics
  name: kube-state-metrics

namespace: monitoring