tmp/
minikube-manifests/
vendor/
./auth
.swp
crdschemas/
.mdoxcache

# Generated locally by make manifests-metrics-server
manifests/metrics-server-*

# Generated locally by make manifests-perses
manifests/perses-*
manifests/setup/0perses*

developer-workspace/gitpod/_output
developer-workspace/codespaces/kind 
