tmp/
minikube-manifests/
vendor/
./auth
.swp
crdschemas/
.mdoxcache

developer-workspace/gitpod/_output
developer-workspace/codespaces/kind 

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~

# macOS
.DS_Store
