kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: grafana

rules:
- apiGroups: [""] # "" indicates the core API group
  resources: ["configmaps", "secrets"]
  verbs: ["get", "watch", "list"]